$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Grayish-Violet: hsl(273, 4%, 51%);
$Light-Gray: hsl(0, 0%, 98%);

$font-size:1.6rem;
$font-heading:'DM Serif Display', serif;
$font-body: 'Karla', sans-serif;
